.body{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.5;
}

/* Navigation Bar */
.logoimage{
    width: 8%;
}


.navbar{
    /*font-family: 'Ubuntu', sans-serif;*/
    padding:0 0 4rem;
}

#navbarContainer{
    padding-right: 0;
    padding-left: 0;
}
.navbar-brand{
    font-weight: 900;
    font-family: 'Ubuntu', sans-serif;
}

.nav-item{
    padding: 0 20px;
}

#NavBarLastItem{
    padding-right: 0;
}


/* Title Section */

#title{
    background-color: #141E61;
    color: #EEEEEE;
}

.lightTitle{

    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    margin: auto ;
}

.container-fluid{
    padding: 1% 10%;
}

.titleSectionText{
    /*font-family: 'Ubuntu', sans-serif;*/
    font-size: 1.1rem;
}

.titleImage{
    width: 100%;
}

/* Buy Button */

.buy-button{
    /*font-family: 'Ubuntu', sans-serif;*/
    margin: 3% 3% 5% 0;
    background-color: #610094;
    border-color: #3F0071;
}


.buy-button:hover{
    background-color: #3F0071;
    border-color: #3F0071;
}

.button-image{
    transform: rotate(-25deg);
    padding-right: 10px;
}

/* Features Section */
#features{
   padding: 7% 5%;
}
.features-image{
    font-size: 4rem;
    padding: 20px 0;
    color: #610094;
}

.features-image:hover{
    color: #3F0071;
}

.features-h3{
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

.features-col{
    padding: 0 5%;
}

.features-p{
    color: #8f8f8f;
}

/* Testimonials Section */

#testimonials{
    
    text-align: center;
    background-color: #141E61;
    color: #EEEEEE;
}

.testimonials-heading{
    padding-top: 3%;
}

#testimonial-carousel{
    object-fit:cover;
}
.testimonials-tex{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1;
    font-size: 1rem;
    line-height: 1.5;
}
.testimonialImage{
    width: 10rem;
    border-radius: 100%;
    margin: 20px;
}

.compony-logo{
    display:block; 
    width: 10rem;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.carousel-item{
    padding: 0% 10%;
}

/* Press Section  */

#press{
    background-color: #141E61;
    color: #EEEEEE;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.press-images{
    width: 15%;
    margin: 20px 20px 50px;
}

.graduates-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5;
}

/* Pricing Section */

#pricing{
    padding: 0 10%;
    text-align: center;
}

.pricing-heading{
padding-top: 3%;
}
.pricing-cards{
    padding-top: 3%;
}

.andriod-card{
    color: #32DE84;
}

.apple-card{
    color: #7d7d7d;
}

.web-card{
    color: #4287f5;
}

.price-card{
   background-color:#141E61 ; 
   color: #EEEEEE;
}

.price-card-button{
    color: #EEEEEE;
    background-color: #141E61 ; 
}

.price-card-button:hover{
    color: #EEEEEE;
    background-color: #0e1542 ; 
}

/* Requirements section */

#requirements{
    font-family: 'Montserrat', sans-serif;
    background-color: #141E61;
    color: #EEEEEE;
    text-align: center;
    list-style: inside;
    padding-top: 3%;
    padding-bottom: 3%;
}

.requirement-list{
    line-height: 3;
    list-style: none;
}

/*  Footer section  */

#footer{
    font-family: 'Montserrat', sans-serif;
    background-color: #141E61;
    color: #EEEEEE;
    text-align: center;
    font-size: 0.8rem;
    line-height: 0.3;
    padding-bottom: 10px;
  
}

.footer-link{
    text-decoration: none;

}
